
# Created by https://www.gitignore.io

### OSX ###
backend/izzikg/.DS_Store
backend/izzikg/.AppleDouble
backend/izzikg/.LSOverride

# Icon must end with two \r
backend/izzikg/Icon


# Thumbnails
._*

# Files that might appear on external disk
backend/izzikg/.Spotlight-V100
backend/izzikg/.Trashes

# Directories potentially created on remote AFP share
backend/izzikg/.AppleDB
backend/izzikg/.AppleDesktop
#Network Trash Folder
#Temporary Items
backend/izzikg/.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
backend/izzikg/__pycache__/
backend/izzikg/*.py[cod]

# C extensions
backend/izzikg/*.so

# Distribution / packaging
backend/izzikg/.Python
backend/izzikg/env/
backend/izzikg/build/
backend/izzikg/develop-eggs/
backend/izzikg/dist/
backend/izzikg/downloads/
backend/izzikg/eggs/
backend/izzikg/lib/
backend/izzikg/lib64/
backend/izzikg/parts/
backend/izzikg/sdist/
backend/izzikg/var/
backend/izzikg/*.egg-info/
backend/izzikg/.installed.cfg
backend/izzikg/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
backend/izzikg/*.manifest
backend/izzikg/*.spec

# celery beat schedule file
backend/izzikg/celerybeat-schedule
backend/izzikg/celerybeat.pid

# Installer logs
backend/izzikg/pip-log.txt
backend/izzikg/pip-delete-this-directory.txt

# Unit test / coverage reports
backend/izzikg/htmlcov/
backend/izzikg/.tox/
backend/izzikg/.coverage
backend/izzikg/.cache
backend/izzikg/nosetests.xml
backend/izzikg/coverage.xml

# Translations
#*.mo
backend/izzikg/*.pot

# Sphinx documentation
backend/izzikg/docs/_build/

# PyBuilder
backend/izzikg/target/


### Django ###
backend/izzikg/*.log
backend/izzikg/*.pyc
backend/izzikg/local_settings.py
backend/izzikg/staticfiles
backend/izzikg/.env
backend/izzikg/db.sqlite3
backend/izzikg/.venv
backend/izzikg/venv
venv


backend/izzikg/.idea/

# Automatically generated by `hgimportsvn`
backend/izzikg/.svn
backend/izzikg/.hgsvn

# Ignore local virtualenvs
backend/izzikg/bin/
backend/izzikg/include/
backend/izzikg/.Python/

# These lines are suggested according to the svn:ignore property
# Feel free to enable them by uncommenting them
backend/izzikg/*.pyo
backend/izzikg/*.swp
backend/izzikg/*.class
backend/izzikg/*.orig
*~
backend/izzikg/.hypothesis/

# autogenerated
backend/izzikg/src/_pytest/_version.py
# setuptools
backend/izzikg/.eggs/

backend/izzikg/doc/*/_build
backend/izzikg/doc/*/.doctrees
backend/izzikg/*.egg-info
backend/izzikg/issue/
backend/izzikg/.env
backend/izzikg/.env/
backend/izzikg/3rdparty/
backend/izzikg/.tox
backend/izzikg/.pytest_cache
backend/izzikg/.coverage.*
backend/izzikg/.ropeproject
backend/izzikg/.idea
backend/izzikg/.hypothesis
backend/izzikg/.pydevproject
backend/izzikg/.project
backend/izzikg/.settings
backend/izzikg/.vscode

# generated by pip
backend/izzikg/pip-wheel-metadata/

backend/izzikg/media

backend/izzikg/.mypy_cache
backend/izzikg/mydatabase
backend/izzikg/test.py

.idea

# FrontEnd

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/izzi_front/node_modules
frontend/izzi_front/.pnp
frontend/izzi_front/.pnp.js

# testing
frontend/izzi_front/coverage

# next.js
frontend/izzi_front/.next/
frontend/izzi_front/out/

# production
frontend/izzi_front/build
frontend/izzi_front/git
# misc
frontend/izzi_front/.DS_Store
frontend/izzi_front/*.pem

# debug
frontend/izzi_front/npm-debug.log*
frontend/izzi_front/yarn-debug.log*
frontend/izzi_front/yarn-error.log*

# local env files
frontend/izzi_front/.env.local
frontend/izzi_front/.env.development.local
frontend/izzi_front/.env.test.local
frontend/izzi_front/.env.production.local

# vercel
frontend/izzi_front/.vercel

frontend/izzi_front/.idea

venv/
